#backTop {
    .logo {
        width: 20%;
        padding-top:25px;
        color:#fff;
        .icon_back_top{
            font-family: "iconfont" !important;
            line-height: 0;
            font-size: 30px;
            font-style: bold;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    p {
        display: block;
        float: left;
        width: 200px;
        height: 50px;
        color: #fff;
        text-align: center;
        font-size: 22px;
        line-height: 50px;
    }
}
html{
    height: 100%;
}
body{
    height: 100%;
    // overflow: scroll;
    display: flex;
    flex-direction: column;
}
#show{
	display:none;	
  }
#pullDown, #pullUp {
	background:#fff;
	height:40px;
	font-weight:bold;
	font-size:14px;
	color:#888;
}
#scroller {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	width:100%;
}
#wrapper {
margin-bottom: -39px;
flex: 1;
}

#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	background:url("../images/pull-icon@2x.png") 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.dvg{
    height: 80px;
    background-color: rgba($color: #fff, $alpha: .0);
}
.getinlanddiscount {
    #thelist {
        li {
            float: left;
            width: 50%;
            height: 230px;
            padding:10px 1px 0 10px;
            border-bottom: 1px solid #ccc;
            a {
                height: 100%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                img {
                    height: 62%; 
                }
                strong {
                    height: 18%;
                    width: 100%;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    /** 对象作为伸缩盒子模型显示 **/
                    -webkit-box-orient: vertical;
                    /** 设置或检索伸缩盒对象的子元素的排列方式 **/
                    -webkit-line-clamp: 2;
                    /** 显示的行数 **/
                    overflow: hidden;
                    /** 隐藏超出的内容 **/
                }
                p {
                    width: 100%;
                    height: 10%;
                    color: orange;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    /** 对象作为伸缩盒子模型显示 **/
                    -webkit-box-orient: vertical;
                    /** 设置或检索伸缩盒对象的子元素的排列方式 **/
                    -webkit-line-clamp: 1;
                    /** 显示的行数 **/
                    overflow: hidden;
                    /** 隐藏超出的内容 **/
                }
                span {
                    height: 9%;
                    width: 100%;
                    color: #ccc;
                    font-size: 12px;
                }
            }
        }
        li:nth-child(odd) {
            border-right: 1px solid #ccc;
        }
    }
}

// footer{
//     width: 100%;
//     position: absolute;
//     left: 0;
//     bottom: 0;
// }