//    头部标题
header {
    display: flex;
    background: #ff841d;
    justify-content: space-between;
    .a_icon {
        width: 50px;
        text-align: center;
        i {
            font-size: 35px;
            color: #fff;
            line-height: 44px;
        }
    }
    h2 {
        flex: 1;
        color: #fff;
        text-align: center;
        line-height: 44px;
        font-size: 20px;
    }
    .icon-app {
        width: 50px;
        background: url("https://img.alicdn.com/imgextra/i2/690311/TB2beKvaTXYBeNkHFrdXXciuVXa_!!690311.png");
        background-size: 43px 35px;
        background-origin: content-box;
        background-clip: content-box;
        padding: 5px;
    }
}

/* 开始主体内容渲染 */

.view {
    padding: 12px;
    .view_head {
        font-size: 11px;
        color: #777;
    }
    .produForm {
        font-size: 10px;
        color: #999;
        margin: 20px 0;
    }
    /* 文字环绕图片 */
    .view_conn {
        .view_conn_img {
            float: right;
            width: 120px;
            height: 120px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        p {
            font-size: 14px;
        }
        .view_comm_lg {
            img {
                width: 100%;
            }
        }
    } // 查看有没有货
    #disstorck {
        margin: 20px 0 0 10px;
        height: 250px;
        overflow: scroll;
        a {
            border-bottom: 1px solid #ccc;
            padding: 0 10px;
            width: 70%;
            display: block;
            span {
                color: #333;
            }
            strong {
                color: #fd5f00;
                float: right;
            }
        }
    }
}

/* 前往下载 */

.Gobuy {
    display: flex;
    padding: 0 10px 25px 10px;
    border-bottom: 1px solid #c1a7a7;
    a {
        border-radius: 15px;
        flex: 1;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ff9000;
        color: #fff;
        span {
            margin-left: 2px;
        }
    }
}

/* 广告二维码图片 */

.Gobuy_banner {
    img {
        width: 100%;
        height: 100%;
    }
}

/* 发表评论 */

.ui-border-t {
    padding: 6px 6px;
    width: 100%;
    .tit {
        font-size: 16px;
        color: #505050;
        margin: 10px 0;
    }
    .form {
        border: 2px solid #ECEAE8;
        border-radius: 2px;
        padding: 4px 0 0 4px;
        background-color: #fff;
        position: relative;
        width: 98%;
        margin: 0px auto;
        textarea {
            width: 98%;
            resize: none;
            overflow-x: hidden;
            overflow-y: auto;
            border: none;
            line-height: 22px;
            font-size: 14px;
            outline: 0;
            color: #666;
            height: 68px;
        }
    }
    .ctrl {
        height: 36px;
        background: #fbfbfb;
        margin-left: -4px;
        border-top: solid 1px #f2f2f2;
        #ctl00_ContentBody_Button1 {
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ff9000;
            height: 35px;
            width: 85px;
            float: right;
            color: #fff;
            border-radius: 10px;
        }
    }
    .list {  
        .ui-border-b {
            display: flex;
            padding:20px 0;
            border-bottom:1px solid #ccc;
            .userimg {
                width: 35px;
                height: 35px;
                margin: 0 10px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .con {
                flex: 1;
                line-height: 20px;
                margin: 0 5px;
                .name { 
                    .username {
                        float: left;
                        color:#a5c6dc;
                    }
                    .time {
                        float: right;
                    }
                }
            }
        }
    }
}