//    头部标题
header{
    display:flex;
    background:#ff841d;
    justify-content: space-between;
    .a_icon{
        width: 50px;
        text-align: center;
        i{
            font-size: 35px;
            color:#fff;
            line-height: 44px;
        }
    }
    h2{
       flex:1;
       color:#fff;
       text-align: center;
       line-height: 44px;
       font-size: 20px;
    }
    .icon-app{
        width: 50px;
        background: url("https://img.alicdn.com/imgextra/i2/690311/TB2beKvaTXYBeNkHFrdXXciuVXa_!!690311.png");
        background-size: 43px 35px;
        background-origin: content-box;
        background-clip: content-box;
        padding: 5px;
    }
}